@model VotingSystem.Web.Areas.User.ViewModels.CandidateInputModel

<div class="well">
    @Html.HiddenFor(c => c.Id)
    @Html.EditorFor(m => m.IsChecked)
    <div class="row">
        <div class="col-md-4">
            <h2>@Html.LabelFor(x => x.IsChecked, Model.Name, null)</h2>
        </div>
        <div class="col-md-8">
            <p>@Model.Description</p>
        </div>
    </div>
</div>