@using Kendo.Mvc.UI
@using VotingSystem.Web.ViewModels.Polls
@model List<PublicActivePollsViewModel>
@{
    ViewBag.Title = "All Public Polls";
}

<h1>@ViewBag.Title</h1>

@(Html.Kendo().Grid(Model)
    .Name("pollGrid")
    .Columns(col =>
        {
            col.Bound(poll => poll.Id).Hidden();
            col.Bound(p => p.Title).Template(@<text>
               <strong> <a href="/Polls/Details/@item.Id">@item.Title</a></strong>
            </text>);
            col.Bound(poll => poll.Description);
            col.Bound(poll => poll.Author);
            col.Bound(poll => poll.StartDate);
            col.Bound(poll => poll.EndDate);

        })
                            .Sortable()
                            .Pageable()
                            .Filterable())

