@model VotingSystem.Web.Areas.User.ViewModels.VoteWithCandidatesInputModel
@{
    ViewBag.Title = "Vote";
}

<h1>@Model.Title</h1>

@using (Html.BeginForm("Vote", "Votes", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    
    @Html.EditorFor(c => c.Candidates)
    
    <input type="submit" value="submit"/>
}

